html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  user-select: none;
  color: #0ff;
  background-color: #000;
}
